%h1 Nieuw personage creëren

%p
	= link_to 'terug naar alle personages', characters_path

= form_for @character do |f|
	= f.text_field :name, :value => 'naam personage'
	= f.submit "Personage creëren"