/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
background-color: #3B5998;
}

 .container {
 	/*max-width: 960px;*/
 	margin-left: auto !important;
 	margin-right: auto !important;
 }

 a {
 	color: '#3B5998';
 }

 .story_box {
 	width: 300px;
 }

 .post_box {
 	margin-left: 30px;
 }

.droppable {
	background-color: #fef;
	height: 100px;
	text-align: center;
}

.ui-listview {
    margin: 0 !important;
}
